<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Inventory
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Produtos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <table id="produtos_table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>Reference</td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.Produtos)
                    {
                        <tr>
                            <td>@x.CodProduto</td>
                            <td>@x.Descricao</td>
                        <td>@x.PVP1</td>
                            <td><a href="@Url.Action("View", "Inventory", new { id = x.CodProduto })">Info</a></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div><!-- ./col -->
    </div><!-- /.row -->

</section><!-- /.content -->

<script>
    $(document).ready(function () {
            $('#produtos_table').DataTable();
        });
</script>