@foreach (var x in ViewBag.linhaDoc)
{
    <p>
        <br /> 
        @x.Descricao  <br />
        @x.DescricaoFatura  <br />
        @x.PrecUnit <br />
        @x.Morada <br />
    </p>
    <hr>
}
    